asttokens==3.0.1
decorator==5.3.1
executing==2.2.1
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
stack-data==0.6.3
traitlets==5.15.0
typing_extensions==4.15.0
wcwidth==0.7.0
